<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>0</string>
		<key>name</key>
		<string>Direction</string>
		<key>frame</key>
		<string>free_1Direction_frame.png</string>
		<key>thumb</key>
		<string>free_1Direction_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1</string>
		<key>name</key>
		<string>Belieber</string>
		<key>frame</key>
		<string>free_belieber_frame.png</string>
		<key>thumb</key>
		<string>free_belieber_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>2</string>
		<key>name</key>
		<string>Burst</string>
		<key>frame</key>
		<string>free_burst_frame.png</string>
		<key>thumb</key>
		<string>free_burst_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>3</string>
		<key>name</key>
		<string>Desk</string>
		<key>frame</key>
		<string>free_desk_frame.png</string>
		<key>thumb</key>
		<string>free_desk_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>4</string>
		<key>name</key>
		<string>Doodle</string>
		<key>frame</key>
		<string>free_doodle_frame.png</string>
		<key>thumb</key>
		<string>free_doodle_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>5</string>
		<key>name</key>
		<string>Drawn</string>
		<key>frame</key>
		<string>free_drawn_frame.png</string>
		<key>thumb</key>
		<string>free_drawn_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>6</string>
		<key>name</key>
		<string>Gaga</string>
		<key>frame</key>
		<string>free_gaga_frame.png</string>
		<key>thumb</key>
		<string>free_gaga_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>7</string>
		<key>name</key>
		<string>Hottie</string>
		<key>frame</key>
		<string>free_hottie_frame.png</string>
		<key>thumb</key>
		<string>free_hottie_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>8</string>
		<key>name</key>
		<string>Sari</string>
		<key>frame</key>
		<string>free_sari_frame.png</string>
		<key>thumb</key>
		<string>free_sari_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>9</string>
		<key>name</key>
		<string>Scrapbook</string>
		<key>frame</key>
		<string>free_scrapbook_frame.png</string>
		<key>thumb</key>
		<string>free_scrapbook_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>10</string>
		<key>name</key>
		<string>Swifty</string>
		<key>frame</key>
		<string>free_swifty_frame.png</string>
		<key>thumb</key>
		<string>free_swifty_thumb.png</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>11</string>
		<key>name</key>
		<string>Swirls</string>
		<key>frame</key>
		<string>free_swirls_frame.png</string>
		<key>thumb</key>
		<string>free_swirls_thumb.png</string>
	</dict>
</array>
</plist>
